<div class="card-profile">
    <div class="card-img">
        <img src="/img/main.webp" class="card-profile-img" alt="">
    </div>
    <i class="fa fa-user-o"></i> <label>@gwyrwch</label>
</div>

<div class="start-game-text">Start a game!</div>

<div class="table-cards-container">
    <div class="card-table card-random-table">
        <div class="card-img card-random-table-img"></div>
        <i class="fa fa-random"></i> Random table
    </div>

    <div class="card-table card-create-table">
        <div class="card-img card-create-table-img"></div>
        <i class="fa fa-puzzle-piece"></i> Create table
    </div>

    <div class=" card-table card-join-table">
        <div class="card-img card-join-table-img"></div>
        <i class="fa fa-users"></i> Join table
    </div>
</div>
