<button class="back-button">
    <i class="fas fa-chevron-left"></i>
</button>

<div class="user-information-card">
    <div class="user-profile-photo">
        <img src="/img/main.webp" class="user-profile-photo-img" alt="">
    </div>
    <div class="user-profile-name-surname">

    </div>
    <div class="user-profile-username">

    </div>
</div>

<div class="profile-buttons-div">
    <button title="Settings" class="settings-button">
        <i class="fas fa-cogs"></i>
    </button>
    <button title="Payment information" class="payment-info-button">
        <i class="fa fa-credit-card"></i>
    </button>
    <button title="Sign out" class="sign-out-button">
        <i class="fa fa-arrow-circle-right"></i>
    </button>
</div>

<div id="addCreditCardModal" class="modal">
    <div class="modal-content">
        <div>
            <p class="p-card-text">Enter your payment information</p>
            <div id="area">
                <div class="master-card">
                    <div class="card">
                        <div class="title">CREDIT CARD</div>
                        <div class="input-number"><span class="title-number">CARD NUMBER</span>
                            <div class="inputs-number">
                                <input type="text" maxlength="4" name="number-card" placeholder="0000" required="required"/>
                                <input type="text" maxlength="4" name="number-card" placeholder="0000" required="required"/>
                                <input type="text" maxlength="4" name="number-card" placeholder="0000" required="required"/>
                                <input type="text" maxlength="4" name="number-card" placeholder="0000" required="required"/>
                            </div>
                            <div class="selects-date">
                                <div class="month-select"><span>MONTH</span>
                                    <label for="cardMonth"></label>
                                    <select id="cardMonth">
                                        <option value="">1</option>
                                        <option value="">2</option>
                                        <option value="">3</option>
                                        <option value="">4</option>
                                        <option value="">5</option>
                                        <option value="">6</option>
                                        <option value="">7</option>
                                        <option value="">8</option>
                                        <option value="">9</option>
                                        <option value="">10</option>
                                        <option value="">11</option>
                                        <option value="">12</option>
                                    </select>
                                </div>
                                <div class="year-select"><span>YEAR</span>
                                    <label for="cardYear"></label>
                                    <select id="cardYear">
                                        <option value="">20</option>
                                        <option value="">21</option>
                                        <option value="">22</option>
                                        <option value="">23</option>
                                        <option value="">24</option>
                                        <option value="">25</option>
                                        <option value="">26</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="name-cvv-div">
                            <span>Margarita Milinkevich</span>
                            <div class="secret-area">
                                <label>CVV</label>
                                <input type="text" maxlength="3" name="cvv" placeholder="000" required="required"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-card-confirm-buttons-div">
            <button id="updateCardConfirmButton">Update</button>
            <button id="updateCardCancelButton">Cancel</button>
        </div>
    </div>
</div>

<div class="analytics">
    <div class="user-curve">

    </div>
    <div class="rating-top">
        <h3>TOP-5</h3>
        <table>
            <tr>
                <th>Rank</th>
                <th>Username</th>
            </tr>
            <tr>
                <td>
                    1
                    <i class="fa fa-trophy rating-top-first" aria-hidden="true"></i>
                </td>
                <td>
                    <div class="td-rating-div">
                        <img src="/img/main.webp" class="rating-top-photo-img" alt="">
                        <label class="rating-top-first">gwyrwch</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    2
                    <i class="fa fa-trophy rating-top-second" aria-hidden="true"></i>
                </td>
                <td>
                    <div class="td-rating-div">
                        <img src="/img/main.webp" class="rating-top-photo-img" alt="">
                        <label class="rating-top-second">grispy</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    3
                    <i class="fa fa-trophy rating-top-third" aria-hidden="true"></i>
                </td>
                <td>
                    <div class="td-rating-div">
                        <img src="/img/main.webp" class="rating-top-photo-img" alt="">
                        <label class="rating-top-third">hloya</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>
                    <div class="td-rating-div">
                        <img src="/img/main.webp" class="rating-top-photo-img" alt="">
                        <label>andrew</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>
                    <div class="td-rating-div">
                        <img src="/img/main.webp" class="rating-top-photo-img" alt="">
                        <label>ruide</label>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="setting-form-container">
    <form class="settings-form not-active">
        <fieldset class="form-fieldset">
            <legend>Username update</legend>
            <label for="usernameProfileSettings"></label>
            <input type="text" id="usernameProfileSettings" placeholder="username">
        </fieldset>
        <fieldset class="form-fieldset">
            <legend>Password update</legend>
            <label for="passwordProfileSettings"></label>
            <input type="password" id="passwordProfileSettings" placeholder="password">
            <label for="passwordConfirmProfileSettings"></label>
            <input type="password" id="passwordConfirmProfileSettings" placeholder="password repeat">
        </fieldset>
        <div class="submit-div">
            <input type="submit" id="submitButtonProfileSettings" value="Save">
        </div>
    </form>
</div>


<div id="modalConfirmProfileChanges" class="modal">
    <div class="modal-content">
        <div class="menu-modal-header-div">Current password:</div>
        <label>
            <input class="confirm-current-password" type="password" placeholder="password">
        </label>
        <button class="confirm-profile-changes-button">Confirm</button>
        <button class="cancel-profile-changes-button">Cancel</button>
    </div>
</div>

