<div class="sign-in-up-container">
    <div class="img-container">
        <div class='main-img-container'>
<!--            <img src='/img/main.webp' class="main-img">-->
        </div>
    </div>
    <div class="sign-in-up-buttons-div">
        <button class="
            sign-in-up-button
            sign-in-button
            selected-sign-in-up-button
            selected-sign-in-button"
        >
            Sign in
        </button>
        <button class="
            sign-in-up-button
            sign-up-button"
        >
            Sign up
        </button>
    </div>
    <div class="form-container-sign-up">
        <form class="sign-up-form" style="display: none">
            <fieldset class="form-fieldset">
                <legend>Sign in info</legend>
                <div class="set-div">
                    <label for="usernameSignUp"></label>
                    <input type="text" id="usernameSignUp" placeholder="username" required>
                    <label for="emailSignUp"></label>
                    <input type="email" id="emailSignUp" placeholder="email" required>
                </div>
                <div class="set-div">
                    <label for="passwordSignUp"></label>
                    <input type="password" id="passwordSignUp" placeholder="password" required>
                    <label for="passwordConfirmSignUp"></label>
                    <input type="password" id="passwordConfirmSignUp" placeholder="password repeat" required>
                </div>
            </fieldset>
            <fieldset class="form-fieldset">
                <legend>Personal info</legend>
                <div class="set-div">
                    <label for="nameSignUp"></label>
                    <input type="text" id="nameSignUp" placeholder="Name" required>
                    <label for="surnameSignUp"></label>
                    <input type="text" id="surnameSignUp" placeholder="Surname" required>
                </div>
                <div class="set-div">
                    <label for="birthdaySignUp"></label>
                    <input type="date" id="birthdaySignUp" placeholder="Birthday" required>
                    <label for="passportIDSignUp"></label>
                    <input type="text"
                           id="passportIDSignUp"
                           placeholder="PassportID"
                           required
                           maxlength="9" minlength="9"
                    >
                </div>
            </fieldset>
            <fieldset class="form-fieldset">
                <legend>Contact info</legend>
                <div class="set-div">
                    <label for="phoneSignUp"></label>
                    <input type="tel" id="phoneSignUp" placeholder="Phone" required>

                    <label for="phoneHiddenSignUp" style="opacity: 0"></label>
                    <input type="text" id="phoneHiddenSignUp" placeholder="Email" style="opacity: 0">
                </div>
            </fieldset>
            <div class="submit-div">
                <input type="submit" id="submitButtonSignUp" value="Sign up">
            </div>
        </form>

        <form class="sign-in-form">
            <fieldset class="form-fieldset">
                <legend>Sign in info</legend>

                <label for="emailSignIn"></label>
                <input type="email" id="emailSignIn" placeholder="email" required>

                <label for="passwordSignIn"></label>
                <input type="password" id="passwordSignIn" placeholder="password" required>
            </fieldset>
            <div class="submit-div">
                <input type="submit" id="submitButtonSignIn" value="Sign in">
            </div>
        </form>
    </div>
</div>