<button class="back-button">
    <i class="fas fa-chevron-left"></i>
</button>

<div class="table">
    <div class="question-category-div">
        <div class="category-div"></div>
        <div class="question-div">
            <div class="question-part question-first-part">
            </div>
            <div class="separator"></div>
            <div class="question-part question-second-part">
            </div>
            <div class="separator"></div>
            <div class="question-part question-third-part">
            </div>
        </div>
    </div>
</div>

<div class="table-bank">
    Bank
    <hr>
    <div class="table-bank-val">
        $0
    </div>
</div>

<div class="player-desc first-player-desc player-desc-empty-seat-folded">
    <img src="/img/main.webp" class="player-photo-img" alt="">
    <label class="player-username-label">empty seat</label>
    <label class="player-balance-label">$-</label>
    <div class="player-bet first-player-bet">
    </div>
</div>


<div class="player-desc second-player-desc player-desc-empty-seat-folded">
    <img src="/img/main.webp" class="player-photo-img" alt="">
    <label class="player-username-label">empty seat</label>
    <label class="player-balance-label">$-</label>

    <div class="player-bet second-player-bet">

    </div>
</div>

<div class="player-desc third-player-desc player-desc-empty-seat-folded">
    <img src="/img/main.webp" class="player-photo-img" alt="">
    <label class="player-username-label">empty seat</label>
    <label class="player-balance-label">$-</label>

    <div class="player-bet third-player-bet">
    </div>
</div>

<div class="player-desc forth-player-desc player-desc-empty-seat-folded">
    <img src="/img/main.webp" class="player-photo-img" alt="">
    <label class="player-username-label">empty seat</label>
    <label class="player-balance-label">$-</label>

    <div class="player-bet forth-player-bet">
    </div>
</div>

<div class="player-desc fifth-player-desc player-desc-empty-seat-folded">
    <img src="/img/main.webp" class="player-photo-img" alt="">
    <label class="player-username-label">empty seat</label>
    <label class="player-balance-label">$-</label>

    <div class="player-bet fifth-player-bet">
    </div>
</div>

<div class="player-desc sixth-player-desc player-desc-empty-seat-folded">
    <img src="/img/main.webp" class="player-photo-img" alt="">
    <label class="player-username-label">empty seat</label>
    <label class="player-balance-label">$-</label>

    <div class="player-bet sixth-player-bet">
    </div>
</div>


<div class="user-field">
    <div class="your-balance-value-div">
        <label>
            <input class="player-input" placeholder="enter bet..."/>
        </label>
    </div>
    <div class="user-buttons-div">
        <button class="user-field-button" id="foldUserButton" disabled>Fold</button>
        <button class="user-field-button" id="callUserButton" disabled>Call</button>
        <button class="user-field-button" id="raiseUserButton" disabled>Raise</button>
    </div>
</div>


